.checkbox{
  display: flex;
  align-items: center;
}

.input_checkbox_box{
  display: none;
}

.checkbox_box{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #144b98;
  position: relative;
}
.checkbox_box::before{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 1;
}
.input_checkbox_box:checked + .checkbox_box::before{
  content: "";
  background-image: url('/img/checkbox/checkbox.png');
}









