.color_darkblue{
    color: #3C567A;
}

.color_yellow{
    color: #FFD21D;
}

.color_darkgrey{
    color: #333333;
}

.color_grey{
    color: #eeeeee;
}

.color_grey_footer{
    color: #c1c1c1;
}

.color_lightgrey{
    color: #fbfbfb;
}

.color_green{
    color: #32B66D;
}

.color_blue{
    color: #327FB6;
}

.color_purple{
    color: #B246AD;
}

.color_orange{
    color: #FF971D;
}

.color_red{
    color: #FF1D1D;
}

.color_darkgreen{
    color: #12A051;
}

.color_4f4f4f{
    color: #4f4f4f;
}

.color_144B98{
    color: #144B98;
}