.radiobtn{
    display: flex;
    align-items: center;
  }

  .input_radiobtn_box{
    display: none;
  }

  .radiobtn_box{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #144b98;
    position: relative;
    border-radius: 50%;
    transition: .2s;
  }
  .radiobtn_box::before{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
    opacity: 1;
  }
  .input_radiobtn_box:checked + .radiobtn_box::before{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #32b66d;
    border-radius: 50%;
    right: 50%;
  }
  .input_radiobtn_box:checked + .radiobtn_box{
    border: 1px solid #32b66d;
  }