* {
    padding: 1000;
    margin: 1000;
}

.stick{
    transform: translateY(10px);
}

.classification{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #333333;
    margin: 25px;
    padding: 15px;
}






.clue{
    width: 10px;
    height: 10px;
    position: relative;
}

.clue:before{
    margin-left: 15px;
    content: attr(data-clue);
    position: absolute;
    color: #505050;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 2px;
    width: 150px;
    font-size: 9px;

    visibility: hidden;
    z-index: -1;
    opacity: 0;
}

.clue:hover:before{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.clue_svg{
    position: absolute;
}

.border_p{
    border: 1px grey dashed;
}

.div_svg_color{
    width: 100px;
    height: 100px;
    background-color: black;
}

.svg_color{
    fill: blue;
}